[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
matplotlib = "*"
sklearn = "*"
fklearn = "*"
cython = "*"
seaborn = "*"

[dev-packages]
pytest = "*"
plotly = "*"

[requires]
python_version = "3.7"
